{% extends "layout.html.twig" %}

{% block description %}
Interface d'administration des messages reçus par Le Coquelicot. Gérez et consultez les messages des utilisateurs.
{% endblock %}

{% block title %}
Messages
{% endblock %}

{% block main %}
<main id="admin-messages">
    <section aria-labelledby="titre-admin-messages">
        <a href="index.php?route=espace-admin" class="back-link">
            <i class="fas fa-arrow-left"></i>
            Revenir au menu d'administration
        </a>
        <h2 id="titre-admin-messages">Administration des messages</h2>
        <div class="table-container">
            <table id="messageTable" aria-label="Liste des messages reçus">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>De</th>
                        <th>Objet</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for message in messages %}
                    <tr class="{{ message.read ? '' : 'unread' }}" data-id="{{ message.id|e }}">
                        <td>{{ message.createdAt|date("d/m/Y H:i")|e }}</td>
                        <td>{{ message.firstName|e }} {{ message.lastName|e }}</td>
                        <td>{{ message.subject|e }}</td>
                        <td>
                            <a href="index.php?route=admin-view-message&id={{ message.id|e }}" class="view-message" aria-label="Voir le message de {{ message.firstName|e }} {{ message.lastName|e }}">Voir</a>
                            <a href="index.php?route=admin-mark-unread&id={{ message.id|e }}" class="mark-unread {{ message.read ? '' : 'hidden' }}" aria-label="Marquer comme non lu le message de {{ message.firstName|e }} {{ message.lastName|e }}">Non lu</a>
                            <a href="index.php?route=admin-delete-message&id={{ message.id|e }}" class="delete-message" aria-label="Supprimer le message de {{ message.firstName|e }} {{ message.lastName|e }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <div id="message-modal" class="modal" aria-labelledby="titre-modal-message">
        <div class="modal-content">
            <span class="close" aria-label="Fermer le modal">&times;</span>
            <div class="message-container">
                <p class="modal-title">De :</p>
                <p id="modalFrom"></p>
                <p class="modal-title">Email :</p>
                <p id="modalEmail"></p>
                <p class="modal-title">Téléphone :</p>
                <p id="modalPhone"></p>
                <p class="modal-title">Objet :</p>
                <p id="modalSubject"></p>
                <p class="modal-title">Message :</p>
                <p id="modalMessage"></p>
            </div>

        </div>
    </div>
</main>

{% endblock %}