{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Accueil
{% endblock %}

{% block main %}
<main id="homepage">
    <section class="home-next-events">
        <h2>Les prochains rendez-vous</h2>

        <div class="glider-contain">
            <button class="glider-prev">
                <i class="fa-solid fa-chevron-left"></i>
            </button>

            <div class="glider">
                {% for event in events %}
                    <article class="event-card" style="background-image: url('{{ event.media.url }}');" alt="{{ event.media.alt }}">
                        <a href="index.php?route=evenement&id={{ event.id }}">
                            <div class="card-block-date mono">
                                <time datetime="{{ event.date|date("c") }}">{{ event.date|date("D d M") }}</time>
                            </div>
                            <div class="info-event-container">
                                <h3 class="mono">{{ event.name }}</h3>
                                <div class="rect-event-container">
                                    <div class="rect-event type">{{ event.type.name }}</div>
                                    <div class="rect-event style">{{ event.style1.name }}</div>
                                    <div class="rect-event style">{{ event.style2.name }}</div>
                                </div>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </div>

            <button class="glider-next">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
            <div id="dots" class="glider-dots"></div>
        </div>
    </section>
    
    <section class="home-last-actualities">
        <h2>Dernières actualités</h2>
        <div class="home-last-actualities-container">
            {% for actuality in actualities %}
            <article class="actuality-card" style="background-image: url('{{ actuality.media.url }}');" alt="{{ actuality.media.alt }}">
                <a href="index.php?route=actualite&id={{ actuality.id }}">
                    <h3>{{ actuality.title }}</h3>
                </a>
            </article>
            {% endfor %}
        </div>
    </section>

    <section class="home-newsletter">
        <h2>Pour ne plus rien rater</h2>
        <p>Parce que rater des choses c’est pas cool, inscris-toi à la newsletter du Coquelicot !</p>
        <p>Tu recevras la programmation toute chaude, les dernières actus et aussi quelques secrets directement dans ta boîte mail... Alors, elle est pas belle la vie ?</p>
        <form action="">
            <div class="home-newsletter-input-container">
                <label for="firstname">Prénom</label>
                <input type="text" id="firstname" required>

                <label for="lastname">Nom</label>
                <input type="text" id="lastname" required>
            </div>

            <label for="email">Adresse mail</label>
            <input type="email" id="email" required>

            <input type="submit" value="S'inscrire">
        </form>
    </section>
</main>
{% endblock %}
