{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Accueil
{% endblock %}

{% block main %}
<main id="homepage">
    <section class="home-next-events">
        <h2>Les prochains rendez-vous</h2>

        <div class="glider-contain">
            <button class="glider-prev">
                <i class="fa-solid fa-chevron-left"></i>
            </button>

            <div class="glider">
                {% for event in events %}
                    <article class="event-card" style="background-image: url('{{ event.event.media.url|striptags }}')">
                        <a href="index.php?route=evenement&id={{ event.event.id|striptags }}">
                            <div class="card-block-date mono">
                                <p class="mono no-toggle-dyslexia no-toggle-line-spacing">{{ event.shortDay|striptags }}</p>
                                <p class="mono no-toggle-dyslexia no-toggle-line-spacing">{{ event.number|striptags }}</p>
                                <p class="mono no-toggle-dyslexia no-toggle-line-spacing">{{ event.shortMonth|striptags }}</p>                           
                            </div>
                            <div class="info-event-container">
                                <h3 class="mono no-toggle-dyslexia no-toggle-line-spacing">{{ event.event.name|striptags }}</h3>
                                <div class="rect-event-container">
                                    <div class="rect-event type no-toggle-dyslexia no-toggle-line-spacing">{{ event.event.type.name|striptags }}</div>
                                    <div class="rect-event style no-toggle-dyslexia no-toggle-line-spacing">{{ event.event.style1.name|striptags }}</div>
                                    <div class="rect-event style no-toggle-dyslexia no-toggle-line-spacing">{{ event.event.style2.name|striptags }}</div>
                                </div>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </div>

            <button class="glider-next">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
            <div id="dots" class="glider-dots"></div>
        </div>
    </section>
    
    <section class="home-last-actualities">
        <h2>Dernières actualités</h2>
        <div class="home-last-actualities-container">
            {% for actuality in actualities %}
            <a class="actuality-card" href="index.php?route=actualite&id={{ actuality.id|striptags }}">
                <img src='{{ actuality.media.url|striptags }}');" alt="{{ actuality.media.alt|striptags }}" "class="actuality-card">
                <h3>{{ actuality.title|striptags }}</h3>
            </a>
            {% endfor %}
        </div>
    </section>

    <section class="home-newsletter" id="home-newsletter">
        <h2>Pour ne plus rien rater</h2>
        <p>Parce que rater des choses c’est pas cool, inscris-toi à la newsletter du Coquelicot !</p>
        <p>Tu recevras la programmation toute chaude, les dernières actus et aussi quelques secrets directement dans ta boîte mail... Alors, elle est pas belle la vie ?</p>
        <form action="index.php?route=inscription-newsletter" method="post" novalidate>
            <div class="home-newsletter-input-container">
                <div class="firstname-newsletter-input">
                    <label for="firstName">Prénom</label>
                    <input type="text" id="firstName" name="firstName" required>
                </div>
                <div class="lastname-newsletter-input">
                    <label for="lastName">Nom</label>
                    <input type="text" id="lastName" name="lastName" required>
                </div>
            </div>

            <label for="email">Adresse mail</label>
            <input type="email" id="email" name="email" required>

            <input type="submit" name="orange" value="S'inscrire">

            <p id="message"></p>
        </form>
    </section>
</main>
{% endblock %}
