{% extends "layout.html.twig" %}

{% block description %}
Découvrez les dernières actualités du Coquelicot, café-concert associatif à Fougères. Restez informé de nos événements, concerts et activités culturelles.
{% endblock %}

{% block title %}
Actualités
{% endblock %}

{% block main %}
<main id="actualites">
    <section>
        <h2 id="actualites-title">Actualités</h2>
        <div class="actualities-container">
            {% for actuality in actualities %}
            <a class="actuality-card" href="index.php?route=actualite&id={{ actuality.id|e }}">
                <img src="{{ actuality.media.url|e }}" alt="{{ actuality.media.alt|e }}" class="actuality-card">
                <h3 id="actuality-title-{{ actuality.id|e }}">{{ actuality.title|e }}</h3>
            </a>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}