{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
{{ actuality.title|striptags }}
{% endblock %}

{% block main %}
<main id="actualite">
    <section class="actu-container">
        <img src="{{ actuality.media.url|striptags }}" alt="{{ actuality.media.alt|striptags }}">
        <div class="actu-info-container">
            <h3>{{ actuality.title|striptags }}</h3>
            <p class="integral-day">{{ integralDay|striptags }}</p>
            <p>{{ actuality.content|striptags }}</p>
        </div>
    </section>
</main>
{% endblock %}