{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
{{ actuality.getTitle() }}
{% endblock %}

{% block main %}
<main id="actualite">
    <section>
        <h2>{{ actuality.title }}</h2>
        <img src="{{ actuality.media.url }}" alt="{{ actuality.media.alt }}"</img>
        <p>{{ actuality.content }}</p>
    </section>
</main>
{% endblock %}