{% extends "layout.html.twig" %}

{% block description %}
{{ actuality.content|striptags|slice(0, 155) }}...
{% endblock %}

{% block title %}
{{ actuality.title|e }}
{% endblock %}

{% block main %}
<main id="actualite">
    <section class="actu-container" aria-labelledby="actuality-titre">
        <img src="{{ actuality.media.url|e }}" alt="{{ actuality.media.alt|e }}">
        <div class="actu-info-container">
            <h3 id="actuality-title">{{ actuality.title|e }}</h3>
            <p class="integral-day">{{ integralDay|e }}</p>
            <p class="actuality-content">{{ actuality.content|e }}</p>
        </div>
    </section>
</main>
{% endblock %}