{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
{{ actuality.title }}
{% endblock %}

{% block main %}
<main id="actualite">
    <section class="actu-container">
        <img src="{{ actuality.media.url }}" alt="{{ actuality.media.alt }}"</img>
        <div class="actu-info-container">
            <h3>{{ actuality.title }}</h3>
            <p class="integral-day">{{ integralDay }}</p>
            <p>{{ actuality.content }}</p>
        </div>
    </section>
</main>
{% endblock %}