{% extends "layout.html.twig" %}

{% block main %}
    <h1>Carousel</h1>
    <div class="center">
        <div class="wrapper">
            <div class="home-events-container"> {# INNER #}
                {% for event in events %}
                    <article class="event-card"> {# CARD #}
                        <div class="card-block-date">
                            <time datetime="{{ event.date|date("D") }}">{{ event.date|date("D") }}</time>
                            <time datetime="{{ event.date|date("d") }}">{{ event.date|date("d") }}</time>
                            <time datetime="{{ event.date|date("M") }}">{{ event.date|date("M") }}</time>
                        </div>

                        <h3>{{ event.name }}</h2>
                        <img href="{{ event.media_id.name }}" alt="{{ event.media_id.alt }}"</img>
                        <p>{{ event.type_id }}</p>
                        <p>{{ event.style1_id }}</p>
                        <p>{{ event.style2_id }}</p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
  
  <div class="map">
    <button class="active first"></button>
    <button class="second"></button>
    <button class="third"></button>
  </div>
</div>
{% endblock %}