{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
{{ event.getName() }}
{% endblock %}

{% block main %}
<main id="event">
    <section>
        <h2>{{ event.name }}</h2>
        <div class="event-card-container">
            <article class="event-card" style="background-image: url('{{ event.media.url }}');" alt="{{ event.media.alt }}">
                <a>
                    <div class="card-block-date mono">
                        <time datetime="{{ event.date|date("c") }}">{{ event.date|date("D d M") }}</time>
                    </div>
                    <div class="info-event-container">
                        <h3 class="mono no-toggle-dyslexia no-toggle-line-spacing">{{ event.name }}</h3>
                        <div class="rect-event-container">
                            <div class="rect-event type no-toggle-dyslexia no-toggle-line-spacing">{{ event.type.name }}</div>
                            <div class="rect-event style no-toggle-dyslexia no-toggle-line-spacing">{{ event.style1.name }}</div>
                            <div class="rect-event style no-toggle-dyslexia no-toggle-line-spacing">{{ event.style2.name }}</div>
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <h3>{{ event.main_description }}</h3>
        <time datetime|format_datetime(locale: 'fr', timezone: 'Europe/Paris' }}">
            {{ event.date|date('l d F Y', 'Europe/Paris')|capitalize }} - 
            {{ event.debut|date('H:i') }} à 
            {{ event.end|date('H:i') }}
        </time>
        <p>{{ event.description }}</p>
        {% if event.getTicketPrice() == 0 or event.getTicketPrice() is null %}
            <p>Tarif : Gratuit</p>
        {% else %}
            <p>Tarif : {{ event.getTicketPrice() }}€</p>
            <a href="">Réservez</a>
        {% endif %}
        <video src="{{ event.video_link }}" controls></video>
    </section>
</main>
{% endblock %}