{% extends "layout.html.twig" %}

{% block description %}
Détails de l'événement {{ event.name|e }} au Coquelicot, café-concert associatif à Fougères. Date, horaires, description et informations de réservation.
{% endblock %}

{% block title %}
{{ event.name|e }}
{% endblock %}

{% block main %}
<main id="event">
    <section aria-labelledby="titre-evenement">
        <a href="index.php?route=programmation" class="back-link">
            <i class="fas fa-arrow-left"></i>
            Revenir à la programmation
        </a>
        <h2 id="titre-evenement">{{ event.name|e }}</h2>
        <div class="event-container">
            <div class="event-card-container">
                <article class="event-card" style="background-image: url('{{ event.media.url|e }}')" aria-labelledby="titre-evenement">
                    <a>
                        <div class="card-block-date mono">
                            <p class="mono no-toggle-dyslexia no-toggle-line-spacing">{{ shortDay|e }}</p>
                            <p class="mono no-toggle-dyslexia no-toggle-line-spacing">{{ number|e }}</p>
                            <p class="mono no-toggle-dyslexia no-toggle-line-spacing">{{ shortMonth|e }}</p>
                        </div>
                        <div class="info-event-container">
                            <h3 class="mono no-toggle-dyslexia no-toggle-line-spacing">{{ event.name|e }}</h3>
                            <div class="rect-event-container">
                                <div class="rect-event type no-toggle-dyslexia no-toggle-line-spacing">{{ event.type.name|e }}</div>
                                <div class="rect-event style no-toggle-dyslexia no-toggle-line-spacing">{{ event.style1.name|e }}</div>
                                <div class="rect-event style no-toggle-dyslexia no-toggle-line-spacing">{{ event.style2.name|e }}</div>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
            <div class="event-info-container">
                <h3>{{ event.maindescription|e }}</h3>
                <div class="event-integral-date">
                    <p class="integral-day">{{ integralDay|e }}&nbsp;</p>
                    <time datetime="{{ event.date|date('c')|e }}">
                        - {{ event.debut|date('H:i')|e }} à 
                        {{ event.end|date('H:i')|e }}
                    </time>
                </div>

                <div class="info-event-separation"></div>
                <p>{{ event.description|e }}</p>
                <div class="price-reservation-container">
                {% if (event.ticketprice == 0 or event.ticketprice is null) and event.date|date('c', 'Europe/Paris') > "now"|date("Y-m-d H:i:s") %}
                    <p>Tarif : Gratuit</p>
                {% else %}
                    {% if event.date|date('c', 'Europe/Paris') > "now"|date("Y-m-d H:i:s") %}
                        <p class="price" aria-label="Prix du billet">Tarif : {{ event.ticketprice|e }}€</p>
                        <a href="{{ event.ticketinglink|e }}" class="reservation-button" aria-label="Réserver des billets">Réservez</a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>  
        {% if youtubeId is not null %}
            <div id="{{ youtubeId|e }}" class="iframe-container"></div>
        {% endif %}     
    </section>
</main>
{% endblock %}