{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Programmation
{% endblock %}

{% block main %}
<main id="programmation">
    <section>
        <h2>Programmation</h2>
        <fieldset>
            <form action="/search" method="get" class="search-bar">
                <input type="search" name="q" placeholder="Rechercher..." aria-label="Recherche">
                <button class="search-button"><i class="fas fa-search"></i></button>
            </form>
            <select name="type" id="type">
                <option value="all">Tous</option>
                <option value="upcoming">A venir</option>
                {% for type in types %}
                <option value="{{ type.id }}">{{ type.name }}</option>            
                {% endfor %}
            </select>
        </fieldset>

        <div class="programmation-events-container">
            {% for event in events %}
                <div class="event-card-container">
                    <article class="event-card" style="background-image: url('{{ event.media.url }}');" alt="{{ event.media.alt }}">
                        <a href="index.php?route=evenement&id={{ event.id }}">
                            <div class="card-block-date mono">
                                <time datetime="{{ event.date|date("c") }}">{{ event.date|date("D d M") }}</time>
                            </div>                        
                            <div class="info-event-container">
                                <h3 class="mono no-toggle-dyslexia no-toggle-line-spacing">{{ event.name }}</h3>
                                <div class="rect-event-container">
                                    <div class="rect-event type no-toggle-dyslexia no-toggle-line-spacing">{{ event.type.name }}</div>
                                    <div class="rect-event style no-toggle-dyslexia no-toggle-line-spacing">{{ event.style1.name }}</div>
                                    <div class="rect-event style no-toggle-dyslexia no-toggle-line-spacing">{{ event.style2.name }}</div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}