{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Programmation
{% endblock %}

{% block main %}
<main id="programmation">
    <section>
        <h2>Programmation</h2>
        <div class="programmation-events-container">
            {% for event in events %}
                <div class="event-card-container">
                    <article class="event-card" style="background-image: url('{{ event.media.url }}');" alt="{{ event.media.alt }}">
                        <a href="index.php?route=evenement&id={{ event.id }}">
                            <div class="card-block-date mono">
                                <time datetime="{{ event.date|date("c") }}">{{ event.date|date("D d M") }}</time>
                            </div>                        
                            <div class="info-event-container">
                                <h3 class="mono">{{ event.name }}</h3>
                                <div class="rect-event-container">
                                    <div class="rect-event type">{{ event.type.name }}</div>
                                    <div class="rect-event style">{{ event.style1.name }}</div>
                                    <div class="rect-event style">{{ event.style2.name }}</div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}