{% extends "layout.html.twig" %}

{% block description %}
{% endblock %}

{% block title %}
Programmation
{% endblock %}

{% block main %}
    <section class="pogrammation-all-events">
        <h2>Programmation</h2>
        <div class="programmation-events-container">
            {% for event in events %}
            <article class="event-card" style="background-image: url('assets/img/fleuves.jpeg')" alt="">
                <a href="index.php?route=evenement&id={{ event.id }}">
                    <div class="card-block-date mono">
                        <time datetime="{{ event.date|date("D") }}">{{ event.date|date("D") }}</time>
                        <time class="date" datetime="{{ event.date|date("d") }}">{{ event.date|date("d") }}</time>
                        <time datetime="{{ event.date|date("M") }}">{{ event.date|date("M") }}</time>
                    </div>
                    <div class="info-event-container">
                        <h3 class="mono">{{ event.name }}</h3>
                        <div class="rect-event-container">
                        <div class="rect-event type">{{ event.type_id }}Concert</div>
                        <div class="rect-event style">{{ event.style1_id }}Traditionnel</div>
                        <div class="rect-event style">{{ event.style2_id }}Jazz Fusion</div>
                        </div>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}